:root {
  --clr-primary: #2c6b2f;
  --clr-secondary: #003366;
  --clr-btn-primary: #f0a500;

  --clr-table-present: #1f7b6e;
  --clr-table-absent: #d97f4d;
  --clr-table-present-hover: #196d60;
  --clr-table-absent-hover: #b6663a;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #e3e3e3;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  width: 90%;
  margin: 0 auto;
}

p {
  font-size: 1.2rem;
}

h2 {
  color: #333;
}

h2.primary {
  color: var(--clr-primary);
}

h2.secondary {
  color: var(--clr-secondary);
}

select.secondary {
  background-color: var(--clr-secondary);
}

input[type="text"],
input[type="numeric"] {
  height: 30px;
  width: 100%;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  border: 3px solid #ccc;
  outline: none;
  -webkit-transition: 0.5s;
}

input[type="text"]:focus,
input[type="numeric"]:focus {
  border: 3px solid var(--clr-secondary);
}

input[type="radio"] {
  /* transform: scale(1.2); */
  display: none;
}
.radio-label {
  position: relative;
  border: 2px solid var(--clr-secondary);
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  border-radius: 5px;
}

.radio-label::before {
  /* position: absolute; */
  margin-left: 0;
  content: "";
  height: 12px;
  width: 12px;
  border: 3px solid var(--clr-primary);
  border-radius: 50%;
  transition: border-color 0.5s ease;
}
input[type="radio"]:checked + label {
  background-color: var(--clr-secondary);
  color: white;
  transition: all 0.3s ease;
  flex-grow: 0;
}
input[type="radio"]:checked + label::before {
  height: 12px;
  width: 12px;
  border: 3px solid white;
}

#teams {
  position: relative;
  height: 30px;
  margin: auto 0;
  border: none;
  padding: 0 10px;
  /* background-color: #d4af37; */
  color: white;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
}

label {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  margin: 0.5rem;
}

table {
  width: 90%;
  margin-top: 1rem;
  border-collapse: collapse;
  text-align: center;
}

td,
th {
  width: 33%;
}

tr {
  height: 2rem;
  border-top: 1px solid rgba(200, 200, 200, 0.5);
  border-bottom: 1px solid rgba(200, 200, 200, 0.5);
  text-align: center;
  transition: background-color 0.3s ease;
}

tr.green {
  background-color: var(--clr-table-present);
  color: white;
}
tr.red {
  color: white;
  background-color: var(--clr-table-absent);
}

tr.green:hover {
  background-color: var(--clr-table-present-hover);
}

tr.red:hover {
  background-color: var(--clr-table-absent-hover);
}

li {
  margin-top: 0.625rem;
  list-style-type: none;
  text-align: start;
}

.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  margin-top: 1rem;
  display: grid;
  grid-template-areas:
    ". header ."
    "students form teams";
  grid-template-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  justify-items: center;
  column-gap: 1rem;
  row-gap: 5rem;
  margin-bottom: 1rem;
}

.add-student {
  grid-area: header;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  letter-spacing: -1px;
}

.students {
  grid-area: students;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 1.5rem;
  height: fit-content;
}

.collect-data {
  grid-area: form;
  height: fit-content;
  padding: 1rem 3rem 2rem 3rem;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.form-group {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.625rem;
}

.form-group-attendance {
  display: flex;
  gap: 0;
}

.form-teams {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
}

.information > p {
  /* text-align: start; */
  font-size: 1rem;
}

.teams {
  grid-area: teams;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  text-align: center;
  height: fit-content;
  width: 100%;
}

.hidden {
  display: none;
}

.errorMsg {
  display: none;
  background-color: #f8d7da;
  color: #721c24;
  padding: 1rem;
  border-radius: 5px;
}

.students,
.teams {
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

.more-details {
  position: fixed;
  margin-top: -50px;
  color: lightslategray;
  font-size: 0.9rem;
}

button {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
  border: 2px solid var(--clr-primary);
  background: #fff;
  align-self: center;
  border-radius: 10px;
  transition: 0.3s ease;
}

button:hover {
  background-color: var(--clr-primary);
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .wrapper {
    grid-template-areas:
      "header"
      "students"
      "form"
      "teams";
    grid-template-columns: 1fr;
  }

  .form-teams {
    width: 80%;
  }
}
